################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/WebApplication008/.vs/WebApplication008/FileContentIndex/2500c3bf-1146-417e-92fd-2ca19fde0beb.vsidx
/WebApplication008/.vs/WebApplication008/FileContentIndex
.vsidx
/WebApplication008/.vs
